<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<ul class="nav navbar-default">
      <% if signed_in? %>
        <li class="nav-item pull-right add-space">Signed in as <%= current_user.name %> - </li>
        <li class="nav-item pull-right add-space"><%= link_to "Sign out", sign_out_path, method: :delete, class: 'nav-link' %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Admin", rails_admin_path, class: 'nav-link' %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Manual", instructions_path, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Twitter", "auth/twitter", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Facebook", "auth/facebook", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Vkontakte", "auth/vkontakte", class: "nav-link" %></li>
      <% end %> 
    </ul>
    <%= yield %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </body>
</html>
